<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
      <a class="navbar-brand">
          <img src="https://i.ibb.co/gvcpDqy/49672.png" width="30" height="30" >
          <span>Series de televisión</span></a>
  </div>
</nav>

<!-- Contenido -->
<div class="container mt-4">
<div class="row">
  <div class="col-8" >
          <table class= "table table-striped table-bordered table-hover">
              <thead>
                  <tr>
                  <th scope="col" >#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Channel</th>
                  <th scope="col">Seasons</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor= "let serie of series">
                      <td>{{serie.id}}</td>
                      <td>{{serie.nombre}}</td>
                      <td>{{serie.canalTV}}</td>
                      <td>{{serie.temporadas}}</td>
                  </tr>
              </tbody>
          </table>
  </div>
  <div class="col-4" id="card"></div>
</div>
</div>